*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    width: 100%;
    /* height: 100%; */
}

#nav{
    margin-top: 1%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 1%;
    cursor: pointer;
    font-size: 40px;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: black;*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    width: 100%;
    /* height: 100%; */
}

#nav{
    margin-top: 1%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 1%;
    cursor: pointer;
    font-size: 40px;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: black;
}

/* CATEGORY LIST  */

.category-list {
    /* cursor: pointer; */
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    right: -5%;
    gap: 20px;
  }

.sub-menu-1{
    display: none;

}
.category-list:hover .sub-menu-1{
    z-index: 9;
    padding: 10px 40px;
    display: flex;
    position: absolute;
    margin-top: 40vh;
    margin-left: -240%;
    width: 100vw;
    height: 30vh;
    background-color: white;
}
.product-list:hover{
    cursor: pointer;
    color: rgb(14, 210, 145);
}
.sub-containers-1{
    margin: 1vw 4vh;
    height: 25vh;
    width: 20vw;
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/219/389/original/white-sofa-isolated-on-a-transparent-background-png.png);
    background-position: center;
    background-size: cover;
}
.sub-containers-2{
    margin: 1vw 4vh;
    height: 25vh;
    width: 20vw;
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/278/221/non_2x/office-desk-3d-render-icon-illustration-with-transparent-background-png.png);
    background-position: center;
    background-size: cover;
}
.sub-containers-3{
    margin: 1vw 4vh;
    height: 25vh;
    width: 20vw;
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/744/044/non_2x/armchair-isolated-on-a-transparent-background-png.png);
    background-position: center;
    background-size: cover;
}
.sub-containers-4{
    margin: 1vw 4vh;
    height: 25vh;
    width: 20vw;
    background-image: url(https://static.vecteezy.com/system/resources/previews/021/938/769/non_2x/bed-with-blue-bed-sheets-pillows-and-beige-basket-isolated-on-a-transparent-background-png.png);
    background-position: center;
    background-size: cover;
}
.nav-r i{
    cursor: pointer;
    position: relative;
    font-weight: 600;
    padding: 10px 20px;
}

/* BAG  */

.bag-item-count {
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;  
    padding: 0 5px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: -12px;
    top: -15px;
    font-weight: 700;
    cursor: pointer;
}

}

/* CATEGORY LIST  */

.category-list {
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    right: -5%;
    gap: 20px;
  }
.new-list:hover, .product-list:hover, .offers-list:hover, .rooms-list:hover{
    color: rgb(14, 210, 145);
}
.sub-menu-1{
    display: none;

}
.category-list:hover .sub-menu-1{
    z-index: 9;
    padding: 10px 40px;
    display: flex;
    position: absolute;
    margin-top: 40vh;
    margin-left: -240%;
    width: 100vw;
    height: 30vh;
    background-color: white;
}
.sub-containers-1{
    margin: 1vw 4vh;
    height: 25vh;
    width: 20vw;
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/219/389/original/white-sofa-isolated-on-a-transparent-background-png.png);
    background-position: center;
    background-size: cover;
}
.sub-containers-2{
    margin: 1vw 4vh;
    height: 25vh;
    width: 20vw;
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/278/221/non_2x/office-desk-3d-render-icon-illustration-with-transparent-background-png.png);
    background-position: center;
    background-size: cover;
}
.sub-containers-3{
    margin: 1vw 4vh;
    height: 25vh;
    width: 20vw;
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/744/044/non_2x/armchair-isolated-on-a-transparent-background-png.png);
    background-position: center;
    background-size: cover;
}
.sub-containers-4{
    margin: 1vw 4vh;
    height: 25vh;
    width: 20vw;
    background-image: url(https://static.vecteezy.com/system/resources/previews/021/938/769/non_2x/bed-with-blue-bed-sheets-pillows-and-beige-basket-isolated-on-a-transparent-background-png.png);
    background-position: center;
    background-size: cover;
}
.nav-r i{
    cursor: pointer;
    position: relative;
    font-weight: 600;
    padding: 10px 20px;
}

/* BAG  */

.bag-item-count {
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;  
    padding: 0 5px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: -12px;
    top: -15px;
    font-weight: 700;
    cursor: pointer;
}
