*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    width: 100%;
    height: 100vh;
}
.items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 4vw;
    width: 93%;
}

/* PRODUCTS */

.item-container{
    width: 22vw;
    margin-bottom: 3vh;
}
.item-image{
    width: 100%;
}
.company-name{
    margin-top: 1vh;
    font-size: 25px;
}
.price{
    font-size: 25px;
}
.item-name{
    font-size: 15px;
    color: grey;
}

.addToCart{
    background-color: black;
    color: white;
    height: 4vh;
    width: 15vw;
    border: none;
    border-radius: 5px;
    margin-top: 1vh;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

/* CART */

.h1-shopping-bag{
    font-weight: 900;
    font-size: 34px;
    margin-top: 5%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.cart-product-container{
    display: flex;
    margin-top: 2%;
    width: 100%;
    height: 60vh;
}
.cart-product-info{
    width: 50%;
    height: 60vh;
}
.cart-price-summery{
    width: 50%;
    height: 60vh;
}